* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
}

h3 {
    text-align: center;
}

.header, .footer {
    background-color: black;
    color: white;
    padding: 15px;
    font-weight: normal;
}

main {
    flex: 1;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: auto;
    padding: 15px;
    font-size: 1.3em;
    text-align: justify;
}

section {
    border: 3px solid black;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2 {
    text-align: center;
}

ul {
    padding-left: 25px;
}

.footer {
    text-align: center;
    font-size: 1.1em;
}